<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>TD elements define table cells</h2>

<table style="width:100%">
   <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Img</th>
    <th>Instock</th>
    <th>Description</th>
  </tr>
  <tr th:each="product: ${products}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <td>
    	<img th:src="@{${product.img}}" alt="Italian Trulli">
    </td>
    <td th:text="${product.inStock}"></td>
    <td th:text="${product.shortDescription}"></td>
    <td><a th:href="@{delete/${product.id}}">Delete</a></td>
    <td><a th:href="@{update/${product.id}}">Update</a></td>
  </tr>
</table>


</body>
</html>



